{% extends 'base.html' %}

{% block app_content %}
    <a class="btn btn-warning home" href="{{ url_for('index') }}">На главную</a>
    <a class="btn btn-info refresh" href="{{ url_for('live') }}">Создать новую жизнь</a>
    <div class="counter">{{ counter }}</div>
    <table class="world">
        {% for i in x %}
            <tr>
                {% for j in i %}
                    {% if j == 1 %}
                        <td class="cell living-cell"></td>
                    {% else %}
                        <td class="cell"></td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
    {% block scripts %}
        {{ super() }}
        <script>
            setInterval(() => window.location.reload(), 1000);
        </script>
    {% endblock %}
{% endblock %}